@font-face {
    font-family: 'Apercu';
    src:  url('./fonts/Apercu.woff') format('woff');
  }

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Apercu', sans-serif;
    overflow: hidden;
}

.main {
    height: 100vh;
    width: 100vw;
    background-color: #E9E3DC;
    background-image: url('./images/BG-image.png');
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}

.content {
    width: 50vw;
    float: right;
    padding-top: 150px;
}

.content img {
    max-width: 500px;
}

p {
    font-size: 22px;   
    max-width: 320px;
    /* text-align: center; */
    margin-top: 50px;
    margin-left: 180px;
}

@media only screen and (max-width: 990px) {
    .main {
        background-image: url('./images/mobile-bg.png');
        background-position: bottom left;
        background-size: contain;
    }

    .content {
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 100px;
    }

    .content img {
        max-width: 300px;
        margin: auto;
    }

    .content p{
        text-align: center;
        margin-left: 0px;
        margin: auto;
        margin-top: 60px;
    }
  }